#footer= '© 2020-' + date(Date.now(), 'YYYY') + ' '
  a(rel='nofollow', target='_blank', href='https://space.bilibili.com/41368868')  3chome
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.